h1, h2, h3 {
  margin: 0;
  text-transform: uppercase;
  padding: 1rem;
  font-family: "Sen", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

.right-align {
  text-align: right;
}

.center-align {
  text-align: center;
}

.left-align {
  text-align: left;
}

button {
  border: solid 0.15rem black;
  padding: 0.5rem;
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  font-family: "Sen", sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Encode Sans Semi Expanded", sans-serif;
  font-weight: 400;
  background: #FFFFFF;
  color: #000000;
  padding: 0;
  margin: 0;
}

#header h1 {
  padding: 3rem;
  margin: 2rem;
  border: solid #FFE6E1 0.25rem;
  text-align: center;
  font-size: 3rem;
}

nav {
  padding: 2rem;
  margin-bottom: 2rem;
  background: #9AD7D8;
}
nav #nav-container {
  border: solid white 0.25rem;
  padding: 5rem;
}
nav #initial {
  display: grid;
  grid-template-columns: 4fr 1fr;
  font-size: 3rem;
  font-weight: 500;
  text-decoration: underline;
  text-align: center;
  padding-bottom: 2rem;
}
nav #profession {
  padding: 0;
  display: grid;
  font-size: 1.75rem;
  font-weight: 500;
}
nav #bio {
  font-size: 1rem;
  font-weight: 400;
}
nav #bio h4 {
  margin: 0;
  padding: 1rem;
}
nav button {
  background: #9AD7D8;
  margin: 1rem;
}

.section-heading {
  padding: 3rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  color: black;
  font-weight: 800;
  text-align: center;
  align-items: center;
  background: white;
  font-size: 1.25rem;
}
.section-heading .line {
  background: black;
  padding: 0.25rem;
}
.section-heading .icon {
  text-align: left;
}
.section-heading .icon i {
  color: black;
  font-size: 1.5rem;
}

#skills {
  background: #F7BEC7;
  margin: 2rem;
  padding: 5rem;
  display: grid;
  grid-template-columns: 1fr 3fr;
}
#skills .skill {
  padding: 1rem;
}
#skills .level-container {
  display: grid;
}
#skills .level {
  display: grid;
  margin: 1rem;
  border: solid white 0.1rem;
}
#skills .beginner {
  background: #000000;
  margin-right: 12rem;
}
#skills .advanced-beginner {
  background: #000000;
  margin-right: 10rem;
}
#skills .intermediate {
  background: #000000;
  margin-right: 8rem;
}
#skills .advanced-intermediate {
  background: #000000;
  margin-right: 5rem;
}

#experience {
  padding: 5rem;
  margin: 2rem;
  background: #FFE6E1;
}
#experience .employer {
  padding: 1rem 0;
  font-size: 1.25rem;
  font-weight: bold;
}
#experience .job {
  padding: 1rem 0;
  display: grid;
  grid-template-columns: 2fr 1fr;
  border-bottom: solid white 0.25rem;
  border-top: solid white 0.25rem;
}
#experience .job-title {
  padding: 0.25rem 0;
  font-weight: bold;
}
#experience .date {
  padding-top: 0.25rem;
  padding-right: 1rem;
  text-align: right;
}
#experience .job-description {
  padding-left: 0;
  font-weight: regular;
}
#experience .job-description li {
  padding: 0.25rem 0;
}

#projects .project-1 {
  margin: 2rem 2rem 0 2rem;
  padding: 2.5rem 0;
  text-align: center;
  background: #000000;
}
#projects .project-1 div {
  color: white;
  padding-top: 2rem;
  font-weight: bold;
}
#projects .project-1 img {
  padding: 4rem;
  border: solid white 0.25rem;
}

#contact {
  background: #9AD7D8;
  padding: 5rem;
  margin: 4rem 2rem;
  display: grid;
  justify-items: center;
}
#contact h3 {
  font-size: 2rem;
  margin: 0;
}
#contact div {
  padding: 0.5rem;
}
#contact span {
  font-weight: bold;
  text-transform: uppercase;
}
#contact #social {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0;
}
#contact #social a {
  font-size: 2rem;
  color: black;
}
#contact button {
  margin: 2rem;
  background: #9AD7D8;
}

footer {
  background: #000000;
  color: white;
  padding: 3rem;
}
footer div {
  padding: 0.5rem;
  text-align: center;
}
footer #location-container {
  display: grid;
  grid-template-columns: 10fr 1fr 10fr;
  font-weight: bold;
}

/*# sourceMappingURL=style.css.map */
