$primary-color: #9AD7D8
$secondary-color: #FFE6E1
$tertiary-color: #F7BEC7
$quaternary-color: #000000
$background-color: #FFFFFF
$primary-font-color: #000000
$font1: 'Encode Sans Semi Expanded', sans-serif
$font2: 'Krona One', sans-serif
$font3: 'Sen', sans-serif

h1, h2, h3
    margin: 0
    text-transform: uppercase
    padding: 1rem
    font-family: $font3

a
    text-decoration: none
    color: black

.right-align
    text-align: right

.center-align
    text-align: center

.left-align
    text-align: left

button
    border: solid .15rem black
    padding: .5rem
    font-size: 1rem
    font-weight: 600
    text-transform: uppercase
    font-family: $font3

*
    border: solid red 1px

html
    font-size: 62.5%

body
    padding: 0 20rem
    font-family: $font1
    font-weight: 400
    background: $background-color
    color: $primary-font-color

#header
    h1
        text-align: center
        font-size: 3rem

nav
    display: grid
    padding: 1rem
    grid-template-columns: 4fr 3fr
    background: $primary-color
    #nav-left
        h4
            margin: 0
            padding: 1rem
        #initial
            display: grid
            font-size: 3rem
            font-weight: 500
            text-decoration: underline
            text-align: center
        #profession
            display: grid
            font-size: 1.75rem
            font-weight: 500
        #bio
            font-size: 1rem
            font-weight: 400
        button
            background: $primary-color
            margin: 1rem
    #nav-right
        display: grid
        align-items: end
        justify-content: center
        text-align: center

.section-heading
    padding: 1rem
    display: grid
    grid-template-columns: 1fr 1fr
    font-weight: 800
    .line-container
        display: grid
        align-items: center
        padding: 1rem
        text-align: right
        .line
            background: black
    #skills-text
        padding: 1rem
        text-align: left

#skills
    background: $secondary-color
    padding: 1rem
    display: grid
    grid-template-columns: 1fr 3fr 1fr 3fr
    .skill
        padding: 1rem
    .level-container
        display: grid
    .level
        display: grid
        margin: 1rem
        border: solid black .1rem
    .beginner
        background: $quaternary-color
        margin-right: 15rem
    .advanced-beginner
        background: $quaternary-color
        margin-right: 12rem
    .intermediate
        background: $quaternary-color
        margin-right: 10rem
    .advanced-intermediate
        background: $quaternary-color
        margin-right: 5rem

#experience-text
    padding: 1rem
    text-align: left

#experience
    div
        padding: 0 1rem
    .employer
        font-size: 1.25rem
        font-weight: bold
    .job
        padding: 0
        display: grid
        grid-template-columns: 1fr 1fr
    .job-title
        padding-top: .25rem
        font-weight: bold
    .date
        padding-top: .25rem
        padding-right: 1rem
        text-align: right
    .job-description
        padding-left: 0
        font-weight: regular
        li
            padding: .25rem 0

#portfolio-text
    padding: 1rem
    text-align: left

#projects
    padding: 1rem
    display: grid
    grid-template-rows: 1fr 1fr
    grid-template-columns: 1fr 1fr
    row-gap: 1.5rem
    column-gap: 1.5rem
    text-align: center
    div
        padding: 1rem
    .project-1
        background: $tertiary-color

    .project-2
        background: $quaternary-color

    .project-3
        background: $secondary-color

    .project-4
        background: $primary-color

#contact
    background: $secondary-color
    padding: 2rem
    display: grid
    justify-items: center
    h3
        font-size: 2rem
        margin: 0
    div
        padding: .5rem
    span
        font-weight: bold
        text-transform: uppercase
    button
        background: $secondary-color

footer
    background: $quaternary-color
    color: white
    padding: 1rem
    display: grid
    grid-template-rows: 1fr 1fr
    div
        padding: .5rem
        text-align: center
    #location
        display: grid
        grid-template-columns: 10fr 1fr 10fr
        font-weight: bold

    #social
        display: grid
        grid-template-columns: 1fr 1fr
        a
            font-size: 1.5rem
            color: white

